body{
	width: 	320px;
	margin: auto;
	font-family: "Roboto", sans-serif;
}

header{
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 2px 0px 0px #e2e4e7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}	

.logo-box{
	display: flex;
	flex-direction: row;
	padding: 8px;
	align-items: center;
	text-decoration: none;
}

.logo-box__logo-text{
	margin-left: 4px;
	width: 64px;
	font-size: 16px;
	font-weight: 700;
	color: rgb(140, 193, 82);	
	font-style: italic;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;	
}

.controls-box{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	text-decoration: none;
	list-style-type: none;	
	margin: 0;
	padding-right: 8px;
}

.controls-box__item{
	margin-left: 8px;
	padding: 12px;
}
.controls-box__icon{
	border: none;
    font-size: 0;
    background: none;
    cursor: pointer;
    padding: 0;
}

.content{
	padding: 8px;
	background-color: #f0f2f5;
}

.content-mobile{
	padding-top: 24px;

}

.content__slider{
	background-color: #ff6d55;
}

.content__slider--mobile{
	height: 128px;
	border-radius: 4px;
	margin-bottom: 24px;
}

.content__plans-list{
	display: flex;
	padding: 0;
}

.content__plans-list--mobile{
	flex-wrap: wrap;
	justify-content: space-between;	
	margin-bottom: 40px;
}

.content__plans-list-item{
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
}

.content__plans-list-item--mobile{
	box-sizing: border-box;
	height: 144px;
	width: 	144px;
	margin-bottom: 16px;
	padding-top: 16px;

}

.plan-card__title{
	vertical-align: text-top;
	line-height: 57%;
	font-size: 24px;
	color: 	#434a54;
	margin-bottom: 12px;
	padding: 0 16px;
}

.plan-card__price{
	font-size: 16px;
	margin: 4px 0;
	padding: 0 16px;
}

.plan-card__description{
	margin: 8px 0;
	font-size: 12px;
	color: #aab2bd;
	padding: 0 16px;	
}


.plan-card__button{
	
	width: 100%;
	margin: auto;

	background-color: #aab2bd;
	color: #ffffff;
 	font-size: 14px;
 	line-height: 32px;
 	text-align: center;		
 	text-transform: uppercase;
 	text-decoration: none;
	border-radius: 	4px;

}

.plan-card__button--mobile{
	width: 100%;

}

.content__plans-list-item--starter{
	color: #fc9d51;	
}

.content__plans-list-item--basic{
	color: #a0d468;	
}

.content__plans-list-item--pro{
	color: #55c1e7;	
}

.content__plans-list-item--ultra{
	color: #ff5555;	
}

.content__news-list{
  	display: flex;
}

.content__news-list--mobile{
	flex-direction: column;
	margin-top: 32px;
	padding: 0;
}

.content__news-list-item{
	background-color: #ffffff;
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	border-radius: 4px;
	list-style-type: none;
}

.content__news-list-item--mobile{
	height: 176px;
	margin-bottom: 56px;
}

.news-card__header{
	height: 80px;
	margin-top: -32px; 
}
.news-card__info{
	display: inline-block;
	vertical-align: bottom;
	padding-bottom: 8px;
}

.news-card__image{
	border-radius: 40px;
	width: 80px;
	height: 80px;
	margin-left: 112px;
}

.news-card__time{
	display: inline-block;
  	font-size: 12px;
  	color: rgba(170, 178, 189, 0.6);
  	line-height: 1.2;
  	text-align: left;
}

.news-card__time::before{
	content: url(img/IconClock.png);
  	width: 16px;
  	height: 16px;
  	margin-right: 4px;
}

.news-card__comments{
	display: inline-block;
  	font-size: 12px;
  	color: rgba(170, 178, 189, 0.6);
  	line-height: 1.2;
  	text-align: left;
  	margin-right: 8px;
}

.news-card__comments::before{
  	content: url(img/IconMessage.png);
  	width: 16px;
  	height: 16px;
  	margin-right: 4px;
}

.news-card__news-content{
	display: flex;
	flex-direction: column;
}
.news-card__title{
	font-size: 18px;
	color: 	#434a54;
	margin:  16px 0;
	text-align: center;
	font-weight: normal;
}

.news-card__text{
	margin: 0 16px 16px 16px;
  	font-size: 14px;
  	color: rgb(170, 178, 189);
  	line-height: 1.429;
}

footer{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 16px;
	vertical-align: center;
	background-color: #e6e9ed;
  	height: 64px;
  	font-size: 14px;
  	color: rgb(67, 74, 84);
  	line-height: 1.2;
  	text-align: left;
}

footer>a{
	padding-left: 2px;
}
footer>a:visited{
  color: inherit;
}


