
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* ------Roboto font*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*------------Web Site*/
*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a {
	text-decoration: none;
}

img{
	height: auto; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper{
	min-width: 320px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	background-color: #f0f2f5;
}

.site-header{
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: 0px 2px 0px 0px #e2e4e7;
	box-shadow: 0px 2px 0px 0px #e2e4e7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 2px;
}	

.site-header__wrapper{
	padding: 0;
	margin: 0; 
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.site-header__logo-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-style: italic;
	line-height: 1;
}

.logo-box__text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 80px;
	text-indent: 4px;
}

.site-header__logo-box::before{
	content: " ";
  	background-image: url(sprite.png);
  	background-position: -10px -10px;
  	float: left;
  	width: 48px;
  	height: 48px;
	margin-right: 2px;
}

.site-header__logo-box:hover:before,.site-header__logo-box:focus:before{
	background-position: -10px -78px;
}

.site-header__logo-box:active:before{
	background-position: -78px -10px;
}

.logo-box__title{
	text-transform: uppercase;
	font-size: 16px;
	color: #8cc152;
	margin: 0;		
}

.logo-box__title:active{
	color: #b4d593;	
}

.logo-box__desc{
	font-size: 14px;
	color: #aab2bd;
	margin: 0;
	line-height: 0.8;
	display: none;
}

.site-header__menu{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  	font-size: 14px;
  	text-transform: uppercase;
  	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: -8px 0;
	border: none;	
	border-bottom: 2px solid transparent;
	position: relative;
}

.menu__item>a{
	padding: 26px 12px 20px 12px;
  	color: #434a54;
  	border-bottom-color: #a0d468;
  	z-index: 1;
}
.menu__item--active{
  	border-bottom-color: #a0d468;
}
.menu__item--active >a{
	color: 	#a0d468;
}
.menu__item:hover >a, .menu__item:focus >a{
	color: 	#a0d468;
}

.site-header__menu::after{
	content: '';
	display: block;
	position: absolute;
	width: 30%;
	padding-top: 50%;
}

.item__submenu{
	z-index: 150;
	padding: 0;	
	position: absolute;
	top: 100%;
	left: 0;
	list-style-type: none;
	border-radius: 4px;
  	visibility: hidden;
  	margin-top: 12px;
}

.item__submenu:before {
   content: '';
   border: 6px solid transparent;
   border-bottom: 6px solid #a0d468;
   position: absolute;
   left: 32px;
   margin-top: -12px;
}


.submenu__element:first-child{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.submenu__element:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.submenu__element{
	text-decoration: none;
	min-width: 240px;
	width: 100%;
	font-size: 14px;
	text-transform: none;
	float: left;
	background-color: #a0d468;
	text-align: left;
}

.submenu__element-link{
	display: block;
	padding: 16px 48px 16px 24px; 
	float: left;
	color: #fff;
	background-color: inherit;
	border-radius: 4px;
	width: 100%;
}

.submenu__element:hover, .submenu__element:focus{
	background-color: #8cc152;
}

.menu__item:hover .item__submenu,.menu__item:focus .item__submenu{
	visibility: visible;
}

.site-header__controls-box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	text-decoration: none;
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

.controls-box__item{
	margin-left: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.controls-box__search{
	width: 128px;
	padding: 8px 0 0 0;
	font-size: 14px;
	display: none;
	margin: -8px 0;
	/*margin-right: -8px;   <--- по макету надо бы использовать*/ 	
 	color: rgb(170, 178, 189);
 	text-transform: uppercase;
	border: none;	
	border-bottom: 2px solid transparent;
}

.controls-box__search::-webkit-input-placeholder { 
	color: rgb(170, 178, 189);
}

.controls-box__search:-ms-input-placeholder { 
	color: rgb(170, 178, 189);
}

.controls-box__search::-ms-input-placeholder { 
	color: rgb(170, 178, 189);
}

.controls-box__search::placeholder { 
	color: rgb(170, 178, 189);
}

.controls-box__search:hover{
  	border-bottom-color: #aab2bd;
}

.controls-box__search:focus{
  	border-bottom-color: #a0d468;
}

.controls-box__icon{
	border: none;
    font-size: 0;
    background: none;
    cursor: pointer;
    padding: 0;
}

.controls-box__icon--magnifier{
  	background-image: url(sprite.png);
  	background-position: -146px -10px;
  	width: 48px;
  	height: 48px;
}


.controls-box__icon--magnifier:hover,.controls-box__icon--magnifier:focus{
  	background-position: -10px -146px;
}

.controls-box__icon--magnifier:active{
  	background-position:  -146px -78px;
}

.controls-box__icon--menu {
  	background-image: url(sprite.png);
  	background-position: -78px -78px;
  	width: 48px;
  	height: 48px;
}

.content{
	display: block;
	padding: 22px 8px 44px 8px;

}

.content__slider{
	background-color: #ff6d55;
	position: relative;
    width: 100%;
    border: none;
	border-radius: 4px;
    margin-bottom: 24px;
    padding-top: 42.38%; /*для пропорционального увеличения*/
	height: 0;
	overflow: hidden;
}

.slider-list {
	list-style:none;
	margin: 0;
	padding: 0;
}

.slider__list-item {
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	z-index: 1;
	display: none;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000;
	font-size: 2em;
}

.slider__list-item--visited {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slider__switch {
	position: absolute;
	bottom: 4px;
	z-index: 5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style:none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.slider__switcher--active {
	background-color: #a0d468;
}

.content__plans-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -8px;
	margin-bottom: 36px;
}

.content__plans-list-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
  	margin: 0 8px;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	width: 100%;
  	max-width: calc(50% - 16px);
  	margin-bottom: 16px;
  	list-style-type: none;
	background-color: #fff;
	border-top: 4px solid transparent;
  	-webkit-box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
  	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
  	border-radius: 4px;
}

.content__plans-list-item--starter.content__plans-list-item:hover, .content__plans-list-item--starter.content__plans-list-item:focus{
	border-top-color: #fc9d51;
}

.content__plans-list-item--basic.content__plans-list-item:hover,.content__plans-list-item--basic.content__plans-list-item:focus{
	border-top-color: #a0d468;
}
.content__plans-list-item--pro.content__plans-list-item:hover,.content__plans-list-item--pro.content__plans-list-item:focus{
	border-top-color: #55c1e7;
}
.content__plans-list-item--ultra.content__plans-list-item:hover,.content__plans-list-item--ultra.content__plans-list-item:focus{
	border-top-color: #ff5555;
}

.plan-card{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 12px 16px 16px;
	padding-bottom: 0px;

}

.plan-card__title{
	vertical-align: text-top;
	font-weight: bold;
	font-size: 24px;
	color: 	#434a54;
    line-height: 0.8;
	margin:0;
	margin-bottom: 8px;
}

.plan-card__price{
	font-size: 16px;
	margin: 0 0 4px 0;
}

.content__plans-list-item--starter .plan-card__price{
	color: #fc9d51;
}

.content__plans-list-item--basic .plan-card__price{
	color: #a0d468;
}

.content__plans-list-item--pro .plan-card__price{
	color: #55c1e7;
}

.content__plans-list-item--ultra .plan-card__price{
	color: #ff5555;
}

.plan-card__description{
    margin-top: 4px;
	margin-bottom: 12px;	
	font-size: 12px;
	color: #aab2bd;	
}

.plan-card__about-list{
	padding: 0;
}

.plan-card__about-list-item{	
	margin: 8px 0;
	font-size: 12px;	
	color: #656d78;
	display: none;
	line-height: 1.35;

}

.plans-list-item__button{
	border: none;
	width: 100%;
	padding: 0 24px;
	margin-top: auto;
	background-color: #aab2bd;
	color: #ffffff;
 	font-size: 14px;
 	line-height: 32px;
 	text-align: center;		
 	text-transform: uppercase;
 	text-decoration: none;
 	border-bottom-left-radius: 4px;
 	border-bottom-right-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
}

.content__plans-list-item--starter:hover .plans-list-item__button{
	background-color: #fc9d51;
}

.content__plans-list-item--basic:hover .plans-list-item__button{
	background-color: #a0d468;
}

.content__plans-list-item--pro:hover .plans-list-item__button{
	background-color: #55c1e7;
}

.content__plans-list-item--ultra:hover .plans-list-item__button{
	background-color: #ff5555;
}

.content__plans-list-item .plans-list-item__button:hover, .content__plans-list-item .plans-list-item__button:focus {
	background-color: #bd55ff;
}
.content__plans-list-item .plans-list-item__button:active{
	background-color: #c774fd;
}

.plans-list-item__button>a{
	background-color: inherit;
}

.content__news-list{
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-orient: vertical;
  	-webkit-box-direction: normal;
  	-ms-flex-direction: column;
  	flex-direction: column;
	padding: 0; 
	margin:0;
	margin-bottom: -18px;

}

.content__news-list-item{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	border-radius: 4px;
	list-style-type: none;
	margin-bottom: 48px;
	min-width: 30%;
}

.news-card{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 16px 18px 16px;
}

.news-list-item__news-pic{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
	width: 80px;
    height: 80px;
    overflow: hidden;

}

.element_horizont{
    max-height:100%;
}
.element_vertical{
  	max-width:100%;
}

.news-pic__img{
	width: 100%;
}

.news-card__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 8px;
}

.news-card__info--bottom{
	margin-top: auto;
	display: none;
}

.news-card__icon{
  	font-size: 12px;
  	color: rgba(170, 178, 189, 0.6);
  	line-height: 1.2;
  	margin-left: 4px; 
  	text-align: left;
}

.news-card__icon::before{
	content: " ";
  	width: 16px;
  	height: 16px;
  	margin-right: 4px;
  	display: inline-block;
	vertical-align: middle;
}

.news-card__icon--time::before{
  	background-image: url(sprite.png);
  	background-position: -78px -146px;
}

.news-card__icon--comments::before{
  	background-image: url(sprite.png);
  	background-position: -114px -146px;
}

.news-card__title{
	font-size: 18px;
	color: 	#434a54;
    margin: 24px 0 6px 0;
	text-align: center;
	font-weight: bold;
}

.news-card__text{
  	font-size: 14px;
  	color: rgb(170, 178, 189);
  	line-height: 1.429;
}

.content__mailing{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 32px 16px;
  	border: 1px solid rgba(146, 205, 255, 0.5);
  	border-radius: 4px;
	background: url("img/mailing-bg.jpg");
	-webkit-box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	box-shadow: 0px 2px 0px 0px rgba(1, 1, 1, 0.06);
	z-index: 1;
  }

.content__mailing::before{
	content: " ";
	position: absolute;
	z-index: -1;
	right: 4px;
    bottom: 4px;
    left: 4px;
	top: 4px;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgba(254, 158, 144, 0.5);
}

.mailing__text>h3{
	margin: 0;
	margin-bottom: 8px;
  	font-size: 18px;
  	color: rgb(67, 74, 84);
  	line-height: 1.2;
	font-weight: bold;
}

.mailing__text>p{
	margin:0;
	margin-bottom: 20px;
  	font-size: 14px;
  	color: rgb(170, 178, 189);

}

.mailing__email-input{
	height: 32px;
	width: 100%;
  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(226, 228, 231);
  	border-radius: 2px;
  	background-color: rgb(255, 255, 255);
  	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(213, 214, 216, 0.35);
  	box-shadow: inset 0px 2px 2px 0px rgba(213, 214, 216, 0.35);
	margin-bottom: 4px;
	text-indent: 16px;
	color: rgb(160, 212, 104);
}
.mailing__email-input::-webkit-input-placeholder{
  	font-size: 14px;
  	color: rgb(170, 178, 189);
  	line-height: 2.286;
  	text-align: left;
}
.mailing__email-input:-ms-input-placeholder{
  	font-size: 14px;
  	color: rgb(170, 178, 189);
  	line-height: 2.286;
  	text-align: left;
}
.mailing__email-input::-ms-input-placeholder{
  	font-size: 14px;
  	color: rgb(170, 178, 189);
  	line-height: 2.286;
  	text-align: left;
}
.mailing__email-input::placeholder{
	font-size: 14px;
  	color: rgb(170, 178, 189);
  	text-align: left;
}

.mailing__email-input:focus{
  	border-style: solid;
  	border-width: 1px;
  	border-color: rgb(160, 212, 104);
  	border-radius: 2px;
  	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(213, 214, 216, 0.35);
    box-shadow: inset 0px 2px 2px 0px rgba(213, 214, 216, 0.35);
}

.mailing__button{
	border: none;
	width: 100%;
	min-width: 264px;
	margin-top: auto;
	background-color: #aab2bd;
	color: #ffffff;
 	font-size: 14px;
 	line-height: 32px;
 	text-align: center;		
 	text-transform: uppercase;
 	text-decoration: none;
  	border-radius: 2px;
	cursor: pointer;
}
.mailing__button:hover,.mailing__button:focus{
	background-color: #bd55ff;
}
.mailing__button:active{
	background-color: #c774fd;
}
.site-footer{
	margin-top: auto;	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px;
	background-color: #e6e9ed;
  	height: 64px;
  	font-size: 14px;
  	color: rgb(67, 74, 84);
  	line-height: 1.2;
  	text-align: left;
}

.site-footer>a{
	text-decoration: underline;
	padding-left: 2px;
}

.site-footer>a:visited{
  color: inherit;
}

.visible {
	display: block;
}

.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media (min-width: 720px)
{

	.site-header{
		padding: 8px 16px; 
	}


	.logo-box__text{
		width: auto;
	}

	.logo-box__pic{
		margin-right: 8px;
	}

	.logo-box__title {	
		margin-bottom: 4px;
	}

	.logo-box__desc {	
		display:block;
		margin-bottom: 8px;
	}

	.content{
		padding: 28px 16px 36px 16px;
	}

	.content__slider{
		margin-bottom: 32px; 
	}

	.content__plans-list{
		margin: 0 -8px 48px -8px;
		margin-top: 8px;
	}

	.content__plans-list-item {
	  	max-width: calc(25% - 16px);
		padding: 20px 12px 12px;
	}

	.plan-card{
		padding: 0;
	}

	.plan-card__about-list-item{
		display: block;
	}

	.plans-list-item__button{
		border-radius: 4px;
	}

	.content__news-list{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 0;
		margin-left: -8px;
		margin-right: -8px;
	}

	.content__news-list-item{
		margin: 0 8px 48px 8px;

	}

	.news-card{
		padding: 0 12px 24px 12px;
	}

	.news-card__title{
		margin-top: 46px; 
	}

	.news-card__text{
		padding-bottom: 20px;
	}

	.news-card__info{
		display: none;
	}

	.news-card__info--bottom{
		margin-top: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	    -webkit-box-pack: start;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	    margin-left: -4px;
	}

	.news-card__time {
		margin: 0;
	}
	.content__mailing{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		margin-top: 0; 
		padding: 24px;
		padding-top: 28px;
	}

	.mailing__acceptance{
		margin-left: 16px;
	}

	.mailing__text>p{
		margin:0;
	}

}

@media (max-width: 1280px){
	
	.site-header{
		position: relative;
	}

	.site-header__menu{
		list-style:none;
		margin:0;
		padding: 0;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 100;
		text-transform: uppercase;
		background-color: rgba(255, 255, 255, 0.95);
		-webkit-box-shadow: inset 0 2px 0 0 rgba(1, 1, 1, 0.06),
						  0 2px 0 0 rgba(1, 1, 1, 0.06);
		box-shadow: inset 0 2px 0 0 rgba(1, 1, 1, 0.06),
						  0 2px 0 0 rgba(1, 1, 1, 0.06);
	}
	
	.menu__item{
		color: #434a54;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		border-radius: 0;
	}

	.item__submenu{
		visibility: visible;
		position: static;
		width: 100%;
	}
	.item__submenu:before{
		visibility: hidden;
	}

	.submenu__element-link{
		border-radius: 0;
	}

	.controls-box__search{
		margin-right: -8px;
	}
}

@media (min-width: 1280px)
{	
	.site-header{
		padding: 8px 0; 
	}
	
	.site-header__wrapper{

		max-width: 928px;
    	margin: 0 auto 0 auto;
	}

	.logo-box__pic{
		margin-right: 8px;
	}

	.site-header__menu{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.site-header__controls-box{

	}

	.controls-box__item{
		margin: 0;
	}

	.controls-box__search{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.controls-box__search::-webkit-input-placeholder { 
	 	color: rgb(170, 178, 189);
	}

	.controls-box__search:-ms-input-placeholder { 
	 	color: rgb(170, 178, 189);
	}

	.controls-box__search::-ms-input-placeholder { 
	 	color: rgb(170, 178, 189);
	}

	.controls-box__search::placeholder { 
	 	color: rgb(170, 178, 189);
	}

	.controls-box__item + .controls-box__item + .controls-box__item{
		display: none;
	}

	.controls-box__icon--menu{
		display: none;
	}

	.content{
		padding: 0;
		padding-top: 52px;
		padding-bottom: 64px;
		max-width: 928px;
		margin: 0 auto 0 auto;
	}

	.content__slider{
		margin-bottom: 48px;
	}

	.content__slider{
		margin-bottom: 48px; 
		padding: 0;
		height: 320px; /* Пока так. Высота в макете не соответствует правилу увеличения.*/
	}

	.content__plans-list{
		margin: 24px -12px 48px -12px;
	}

	.content__plans-list-item {
	  	max-width: calc(25% - 24px);
		padding: 28px 20px 18px;
		margin: 0 12px;
	}

	.plan-card{
		padding: 0;
	}

	.plan-card__price{
		text-transform: uppercase;
		margin: 0;
	}

	.plan-card__title{
		margin-bottom: 4px;
	}


	.plan-card__description{
	    margin-top: 0px;
	    margin-bottom: 24px;
	}

	.plan-card__about-list-item{
		display: block;
		margin: 20px 0; 
	}

	.plans-list-item__button{
		border-radius: 4px;
		line-height: 40px;
	}

	.content__news-list{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		padding: 0;
		margin: 0 -12px;
	}

	.content__news-list-item{
		margin: 0 12px 48px 12px;

	}

	.news-card{
		height: 100%;
		padding: 0 24px 24px 24px;
	}

	.news-list-item__news-pic{
		width: 100%;
		height: 170px;
	}

	.news-pic__img{
		border-radius: 0;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;		
		margin: 0;
	}

	.news-card__title{
		margin-top: 40px;
		text-align: left;
	}

	.content__mailing{
		margin: 0 116px;
	}

	.site-footer{
		padding: 8px 176px; 
	}

}